<div>
  <dgf-component-container>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="lo-column lo-align-center">
        <mat-form-field >
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          @if(loginForm.controls['email'].hasError('required')) {
            <mat-error >Email is required</mat-error>
          }
          @if(loginForm.controls['email'].hasError('email')) {
            <mat-error>Not a valid email</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>

          <input matInput formControlName="password" [type]="passwordVisible? 'text' : 'password'">

          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="passwordVisible = !passwordVisible"
            [attr.aria-label]="'Toggle password visibility'"
            [attr.aria-pressed]="passwordVisible"
          >
            <mat-icon>
              {{ passwordVisible ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>

          @if(loginForm.controls['password'].hasError('required')) {
            <mat-error>Password is required</mat-error>
          }
        </mat-form-field>
        @if (loginError) {
          <mat-error>{{ loginError }}</mat-error>
        }
        <a [routerLink]="[`/${DGF_TOOL_ROUTES.FORGOT_PASSWORD}`]">Forgot Password?</a>
      </div>

      <dgf-action-row>
        <button mat-raised-button [disabled]="!loginForm.valid" type="submit">Sign In</button>
      </dgf-action-row>
    </form>
  </dgf-component-container>
</div>
