
mat-icon[cdkDragHandle] {
  cursor: move; /* this gives a visual hint that this icon is for dragging */
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
