<div class="x-small-page">
  <app-toolbar></app-toolbar>
  <mat-card>
    <mat-card-content>
      <div class="lo-row">
        <app-favourite-editor [favourite]="selectedFavourite"></app-favourite-editor>
      </div>
      <div cdkDropList (cdkDropListDropped)="onDrop($event)" class="drop-list lo-column lo-gap10">
        @for (fav of fanService.fanSignal()?.favourites; track fav.playerId) {
          <div cdkDrag>
            <div class="lo-row">
              <mat-icon cdkDragHandle color="primary" class="lo-40px">drag_indicator</mat-icon>
              <button mat-icon-button (click)="deleteFavourite(fav)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button (click)="editFavourite(fav)" color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <span class="lo-100px">#{{ fav.playerId }}</span>
              <span>{{ fav.playerName }}</span>
            </div>
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
