@if (liveScoreService.favouriteLiveScores().length === 0) {
  <dgf-component-container>

    <!-- No scores to report   -->
    <p>None of your favorites appear to be playing a tournament at the moment.</p>
    <p>In the meantime, feel free to add some new favorites!</p>
    <dgf-action-row>
      <button mat-raised-button (click)="onManageFavourites()">{{ manageFavouritesTool?.displayName }}</button>
    </dgf-action-row>
  </dgf-component-container>
} @else {

  <!-- Scores to report   -->
  <div class="lo-column">
    <div cdkDropList (cdkDropListDropped)="onDrop($event)" class="drop-list lo-column">

      @for (row of flattenedRows; track row.favourite.playerId) {
            <dgf-score
              [player]="row.favourite"
              [tournament]="row.tournament"
              [division]="row.division">
              >
            </dgf-score>
      }
    </div>
  </div>
}
