@if (upcomingTournaments.length === 0) {

  <!-------------- No Favourites! ------------------->
  <dgf-component-container>
    <p>Looks like you don't have any favorites yet! Use the button below to add some.</p>
    <dgf-action-row>
      <button mat-raised-button (click)="onManageFavourites()">
        {{ manageFavouritesTool?.displayName }}
      </button>
    </dgf-action-row>
  </dgf-component-container>
} @else {

  <!-------------- Favourites list ------------------->
  @for (player of upcomingTournaments; track player.id) {
    <dgf-component-container>
      <dgf-player-tournaments [player]="player"></dgf-player-tournaments>
    </dgf-component-container>
  }
}
