<mat-card class="small-page">
  <app-toolbar></app-toolbar>
  <mat-card *ngIf="upcomingTournaments.length === 0">
    <mat-card-header>Looks like you don't have any favorites yet! Use the button below to add some.</mat-card-header>
    <mat-card-actions align="end" class="lo-gap20">
      <button mat-raised-button color="primary" (click)="onManageFavourites()">{{ manageFavouritesTool?.displayName }}
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="upcomingTournaments.length > 0">
    <mat-card-content>
      <div class="lo-column lo-gap10">
        <div *ngFor="let fav of upcomingTournaments">
          <div class="lo-row mat-h3">
            <a [href]="'https://pdga.com/player/' + fav.id" target="_blank">
              {{ fav.name }}
            </a>
          </div>
          <div *ngIf="fav.upcomingTournaments.length === 0" class="mat-small">
            No events entered.
          </div>
          <div *ngIf="fav.upcomingTournaments.length > 0">
            <ng-container *ngFor="let tournament of fav.upcomingTournaments">
              <div class="lo-row mat-small">
                <div class="lo-100px">{{ tournament.startDate }}</div>
                <a [href]="'https://pdga.com/tour/event/' + tournament.id" target="_blank">
                  {{ tournament.name }}
                </a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-card>
