<mat-toolbar>
  <app-main-menu></app-main-menu>
  @if (appState.screenInfo().isSmallPortrait) {
    <span>
    {{ shortTitlePrefix }}
      @if (activeTool) {
        - {{ activeTool.shortName }}
      }
  </span>

  } @else {
  <span>
    {{ titlePrefix }}
    @if (activeTool) {
      - {{ activeTool.displayName }}
    }
  </span>
  }
  <div class="fill-remaining-space"></div>

  @if (activeTool?.is(DGF_TOOL_KEY.LIVE_SCORES) || activeTool?.is(DGF_TOOL_KEY.UPCOMING_EVENTS)) {
    <button mat-icon-button (click)="onAddUserClick()" matTooltip="Add favourite">
      <mat-icon>add</mat-icon>
    </button>
    }

  @if (!authService.isAuthenticated()) {
    <button mat-icon-button (click)="onLoginClick()" [matTooltip]="loginTool.displayName">
      <mat-icon>{{ loginTool.icon }}</mat-icon>
    </button>
  }

  <ng-content select="[toolbar-actions]"></ng-content>
</mat-toolbar>
