<button mat-icon-button [matMenuTriggerFor]="mainMenu">
  <mat-icon color="primary">menu</mat-icon>
</button>
<mat-menu #mainMenu="matMenu">
  <button mat-menu-item
          [disabled]="liveScoresDisabled()"
          [routerLink]="['/' + AppTools.LIVE_SCORES.route]">
    <mat-icon>sync_alt</mat-icon>
    {{AppTools.LIVE_SCORES.displayName}}
  </button>
  <button mat-menu-item
          [disabled]="upcomingEventsDisabled()"
          [routerLink]="['/' + AppTools.UPCOMING_EVENTS.route]">
    <mat-icon>event</mat-icon>
    {{AppTools.UPCOMING_EVENTS.displayName}}
  </button>
  <button mat-menu-item
          [disabled]="manageFavouritesDisabled()"
          [routerLink]="['/' + AppTools.MANAGE_FAVOURITES.route]">
    <mat-icon>manage_accounts</mat-icon>
    {{ AppTools.MANAGE_FAVOURITES.displayName }}
  </button>
  <button *ngIf="authenticatedUserIsAdmin()" mat-menu-item
          [routerLink]="['/' + AppTools.ADMIN_DASHBOARD.route]">
    <mat-icon>admin_panel_settings</mat-icon>
    {{AppTools.ADMIN_DASHBOARD.displayName}}
  </button>
  <button mat-menu-item [disabled]="registrationDisabled()"
          [routerLink]="['/' + AppTools.REGISTER.route]">
    <mat-icon>app_registration</mat-icon>
    {{ AppTools.REGISTER.displayName }}
  </button>
  <button mat-menu-item [disabled]="loginDisabled()"
  [routerLink]="['/' + AppTools.LOGIN.route]">
    <mat-icon>login</mat-icon>
    {{ AppTools.LOGIN.displayName }}
  </button>
  <button mat-menu-item [disabled]="logoutDisabled()" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
    Sign Out
  </button>
  <button mat-menu-item [disabled]="welcomeDisabled()"
          [routerLink]="['/' + AppTools.WELCOME.route]">
    <mat-icon>home</mat-icon>
    {{ AppTools.WELCOME.displayName}}
  </button>
</mat-menu>
