<div class="small-page">
  <mat-card>
    <mat-card-header>
      <mat-toolbar>
        <span>Disc Golf Fan - Reset Password</span>
        <div class="fill-remaining-space"></div>
        <app-main-menu></app-main-menu>
      </mat-toolbar>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-content>

        <div class="lo-column lo-gap20">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="password" [disabled]="confirmationStatus !== ConfirmationStatus.TBD">
            <mat-error *ngIf="form.controls['password'].hasError('required')">Password is required</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button *ngIf="confirmationStatus === ConfirmationStatus.TBD"
                mat-raised-button color="primary"
                type="submit" [disabled]="!form.valid">
          Reset Password
        </button>
        <button *ngIf="confirmationStatus === ConfirmationStatus.FAILED"
                mat-raised-button color="primary" (click)="navigateToForgotPassword()"
                [disabled]="!form.valid">
          Redo Forgot Password
        </button>
        <button *ngIf="confirmationStatus === ConfirmationStatus.SUCCESSFUL"
                mat-raised-button color="primary" (click)="navigateToLogin()"
                [disabled]="!form.valid">
          Sign On
        </button>
      </mat-card-actions>
      <mat-card-footer>
        <div *ngIf="confirmationResultMessage">{{ confirmationResultMessage }}</div>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
