<div>
  <dgf-component-container>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="lo-column lo-gap20 lo-align-center">
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input matInput formControlName="password" [disabled]="confirmationStatus !== ConfirmationStatus.TBD">
          @if(form.controls['password'].hasError('required')) {
            <mat-error>Password is required</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="lo-row lo-gap20 lo-align-center">
        @switch (confirmationStatus) {
          @case (ConfirmationStatus.TBD) {
            <button mat-raised-button type="submit" [disabled]="!form.valid">
              Reset Password
            </button>
          }
          @case (ConfirmationStatus.FAILED) {
            <button mat-raised-button (click)="navigateToForgotPassword()" [disabled]="!form.valid">
              Redo Forgot Password
            </button>
          }
          @case (ConfirmationStatus.SUCCESSFUL) {
            <button mat-raised-button (click)="navigateToLogin()" [disabled]="!form.valid">
              Sign On
            </button>
          }
        }
      </div>
      <div class="lo-row lo-gap20 lo-align-center">
        @if (confirmationResultMessage) {
          <div>{{ confirmationResultMessage }}</div>
        }
      </div>
    </form>
  </dgf-component-container>
</div>
