<div class="hole-score-container" *ngIf="scoreVsPar < -2">
  <div class="eagle-or-better-circle">
    <div class="eagle-or-better-circle">
      <div class="birdie-circle">
        {{ holeScore }}
      </div>
    </div>
  </div>
</div>
<div class="hole-score-container" *ngIf="scoreVsPar === -2">
  <div class="eagle-or-better-circle">
    <div class="birdie-circle">
      {{ holeScore }}
    </div>
  </div>
</div>
<div class="hole-score-container" *ngIf="scoreVsPar === -1">
  <div class="birdie-circle">
    {{ holeScore }}
  </div>
</div>
<div class="hole-score-container" *ngIf="scoreVsPar === 0">
  <div class="par">
    <div *ngIf="holeScore">{{ holeScore }}</div>
    <div *ngIf="!holeScore">-</div>
  </div>
</div>
<div class="hole-score-container" *ngIf="scoreVsPar === 1">
  <div class="bogey-square">
    {{ holeScore }}
  </div>
</div>
<div class="hole-score-container" *ngIf="scoreVsPar === 2">
  <div class="double-bogey-or-worse-square">
    <div class="bogey-square">
      {{ holeScore }}
    </div>
  </div>
</div>
<div class="hole-score-container" *ngIf="scoreVsPar > 2">
  <div class="double-bogey-or-worse-square">
    <div class="double-bogey-or-worse-square">
      <div class="bogey-square">
        {{ holeScore }}
      </div>
    </div>
  </div>
</div>
