<h1 mat-dialog-title>Add A New Favorite</h1>
<div mat-dialog-content>
  <mat-form-field floatLabel="always" class="lo-160px">
    <mat-label>New Favorite's PDGA#</mat-label>
    <input matInput type="number" [formControl]="pdgaNumberFC" [disabled]="isLoadingPlayer">
    <mat-hint>{{ getHint() }}</mat-hint>
  </mat-form-field>
  <button mat-button *ngIf="player  && !isPlayerAlreadyFavourite(player.id)"
          (click)="addFavourite()" color="primary">
    <mat-icon>add</mat-icon>
    Add {{player.name}}
  </button>
  <div *ngIf="player && isPlayerAlreadyFavourite(player.id)">{{ player.name }} is already a favorite</div>
</div>
<div *ngIf="favouritesAdded.length > 0">
<!--  list the players that have been added-->
  <mat-list>
    <mat-list-item *ngFor="let player of favouritesAdded">
      Added {{player.id}} {{ player.name }}
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="done()" color="primary">Done</button>
</div>
