<div>
  <dgf-component-container>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="lo-column lo-align-center">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          @if(form.controls['email'].hasError('required')) {
            <mat-error>Email is required</mat-error>
          }
          @if(form.controls['email'].hasError('email')) {
            <mat-error>Please enter a valid email</mat-error>
          }
        </mat-form-field>
      </div>
      <dgf-action-row>
        <button mat-raised-button type="submit" [disabled]="!form.valid">Email me a reset link</button>
      </dgf-action-row>
      <div class="lo-row lo-gap20 lo-justify-center">
        @if (message) { <div>{{ message }}</div> }
        @if (errorMessage) { <mat-error>{{ errorMessage }}</mat-error> }
      </div>
    </form>
  </dgf-component-container>
</div>
