<div class="x-small-page">
  <mat-card>
    <mat-card-header>
      <mat-toolbar>
        <span>Disc Golf Fan Forgot Their Password...</span>
        <div class="fill-remaining-space"></div>
        <app-main-menu></app-main-menu>
      </mat-toolbar>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="lo-column lo-align-center">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="form.controls['email'].hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('email')">Not a valid email</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button type="submit" [disabled]="!form.valid">Email me a reset link</button>
      </mat-card-actions>
      <mat-card-footer>
        <div *ngIf="message" class="login-error">{{ message }}</div>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
