<dgf-component-container>
  <h5>Edit Favourite</h5>
  <div class="lo-column lo-gap10">

    <!-- PDGA Number and Name -->
    <p>Pdga Number: {{favourite.playerId}}</p>
    <p>Pdga Name: {{favourite.playerName}}</p>

    <!-- Nickname -->
    <mat-form-field>
      <mat-label>Nickname</mat-label>
      <input matInput type="text" [formControl]="nicknameFC">
      <button
        mat-icon-button
        matSuffix
        tabIndex="-1"
        matTooltip="The name you want us to use for this player e.g. 'Vinny' instead of Calvin Heimburg."
        (touchstart)="$event.stopPropagation()"
        style="pointer-events: auto;"
      >
        <mat-icon>info</mat-icon>
      </button>
    </mat-form-field>

    <!-- Sort Order -->
    <mat-form-field>
      <mat-label>Sort Order</mat-label>
      <input matInput type="number" [formControl]="orderFC">

      <button
        mat-icon-button
        matSuffix
        tabIndex="-1"
        matTooltip="0 means first in your list, higher numbers appear lower on your list."
        style="pointer-events: auto;"
        (touchstart)="$event.stopPropagation()">
        <mat-icon>info</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <dgf-action-row >
    <button mat-raised-button (click)="cancel()">
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
    <button mat-raised-button (click)="save()">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </dgf-action-row>
</dgf-component-container>
