<dgf-component-container>
  <h5>Edit Favourite</h5>
  <!--  <div class="lo-row lo-justify-center lo-gap10">-->
  <!--    <mat-form-field subscriptSizing="dynamic">-->
  <!--      <mat-label>New Favourite's PDGA Number</mat-label>-->
  <!--      <input matInput type="number" [formControl]="pdgaNumberFC" [disabled]="!isLoading">-->
  <!--      @if(getHint()) { <mat-hint>{{ getHint() }}</mat-hint> }-->
  <!--    </mat-form-field>-->

  <!--    @if(playerIdentifiedByPdgaNumber) {-->
  <!--      <button mat-raised-button (click)="addPlayerAsFavourite(playerIdentifiedByPdgaNumber)">-->
  <!--        <mat-icon>add</mat-icon>-->
  <!--        Add {{ playerIdentifiedByPdgaNumber.name }}-->
  <!--      </button>-->
  <!--    }-->
  <!--    @if(existingFavourite) {-->
  <!--      <span>{{existingFavourite.name}} is already a favourite</span>-->
  <!--    }-->
  <!--  </div>-->

  <div class="lo-column lo-gap10">

    <!-- PDGA Number and Name -->
    <p>Pdga Number: {{favourite.playerId}}</p>
    <p>Pdga Name: {{favourite.playerName}}</p>

    <!-- Nickname -->
    <mat-form-field>
      <mat-label>Nickname</mat-label>
      <input matInput type="text" [formControl]="nicknameFC">
    </mat-form-field>

    <!-- Sort Order -->
    <mat-form-field>
      <mat-label>Sort Order</mat-label>
      <input matInput type="number" [formControl]="orderFC">
    </mat-form-field>
  </div>

  <dgf-action-row >
    <button mat-raised-button (click)="cancel()">
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
    <button mat-raised-button (click)="save()">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </dgf-action-row>
</dgf-component-container>
