/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$primary-color: mat.$azure-palette;

$zf-app-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    bold-weight: 900
  ),
  density: (
    scale: 0,
  )
));

// This is used to tighten up the form field widgets.
$zf-compact-theme: mat.define-theme((
  density: (
    scale: -2,
  )
));

// Generate component themes
:root {
  // a colour that is good for backgrounds
  --dgf-primary-2pct: color-mix(in srgb, var(--mat-sys-primary) 2%, transparent);

  @include mat.system-level-colors($zf-app-theme);
  @include mat.system-level-typography($zf-app-theme);

  @include mat.all-component-themes($zf-app-theme);
  @include mat.all-component-typographies($zf-compact-theme);
  @include mat.typography-hierarchy($zf-app-theme);


  // Override button corners. This took some time to figure out and
  // in the end it is the protected-container-shape that does the trick.
  // The documentation just lists the overridable properties and doesn't
  // explain how to use them.
  @include mat.button-overrides((
    filled-container-shape: 50px,
    outlined-container-shape: 50px,
    protected-container-shape: 2px,
    text-container-shape: 50px,
  ));
  // override button-toggle corners. At for these, the names are clear.
  @include mat.button-toggle-overrides((
    shape: 2px,
  ));

}

// With outline appearance the Label pokes out slightly above the outline
// but the outline is at the dead top of the form-field, so we need to give
// a little space at the top.
.mat-mdc-form-field {
  margin-top: 8px;
}

html, body {
  height: 100%;background: var(--md-sys-color-surface);

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-shell {
  max-width: 1000px;
  margin: 0 auto;          // horizontally center
  width: 100%;             // allow shrink to phone width
}

.app-content {
  height: 100vh; /* height of the viewport */
}

/* Large devices (desktops) */
@media (min-width: 960px) {
  .app-content {
    //background: #373ab7;
    //background-image: url('assets/images/large-background.jpg');
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

mat-form-field {
  max-width: 300px;
  width: 100%;
}

.x-small-page {
  //margin: 0 auto;
  //padding-top: 10px;
  //max-width: 800px;
}

.small-page {
  //margin: 0 auto;
  //padding-top: 10px;
  //max-width: 959px;
}


.lo-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 5px;
}

.lo-column {
  display: flex;
  flex-direction: column;
}

.lo-full {
  flex: 1;
}

.lo-justify-start {
  justify-content: start;
}

.lo-justify-center {
  justify-content: center;
}

.lo-justify-end {
  justify-content: end;
}

.lo-justify-space-between {
  justify-content: space-between;
}

.lo-align-center {
  align-items: center;
}

.lo-gap5 {
  gap: 5px;
}

.lo-gap10 {
  gap: 10px;
}

.lo-gap20 {
  gap: 20px;
}

.lo-gap64 {
  gap: 64px;
}

.lo-10px {
  flex-basis: 10px;
}

.lo-24px {
  flex-basis: 24px;
}

.lo-40px {
  flex-basis: 40px;
}

.lo-60px {
  flex-basis: 60px;
}

.lo-80px {
  flex-basis: 80px;
}

.lo-100px {
  flex-basis: 100px;
}

.lo-120px {
  flex-basis: 120px;
}

.lo-160px {
  flex-basis: 160px;
}
