<dgf-component-container>
  <h4>{{ title }}</h4>
    <div class="lo-column lo-gap10">
      <!-- PDGA Number -->
      <p>Pdga Number: {{favourite.playerId}}</p>

      <!-- Nickname -->
      <mat-form-field>
        <mat-label>Nickname</mat-label>
        <input matInput type="text" [formControl]="nicknameFC">
      </mat-form-field>
    </div>

  <div class="lo-row lo-gap10 lo-align-center">
      <button mat-raised-button (click)="save()">
        <mat-icon>save</mat-icon>
        {{ buttonLabel }}
      </button>
  </div>
</dgf-component-container>
