<div class="lo-column" *ngIf="result">
  <div class="hole-score-row">
    <p class="lo-40-centered mat-small">Hole</p>
    <p class="lo-60-centered mat-small">Distance</p>
    <p class="lo-40-centered mat-small">Par</p>
    <p class="lo-40-centered mat-small">Score</p>
    <p class="lo-40-centered mat-small">Leader</p>
  </div>

  <div class="lo-column lo-gap5">
    <div *ngFor="let h of result.round.holeNames; let i = index" class="hole-score-row">
      <div class="lo-40-centered">{{ result.round.holeNames[i] }}</div>
      <div class="lo-60-centered">{{ result.round.holeLengths[i] }}</div>
      <div class="lo-40-centered">{{ result.round.holePars[i] }}</div>
      <app-small-screen-hole-score class="lo-40-centered" [holeScore]="holeScores[i]"
                                   [holePar]="result.round.holePars[i]"></app-small-screen-hole-score>
      <app-small-screen-hole-score class="lo-40-centered" [holeScore]="leaderHoleScores[i]"
                                   [holePar]="result.round.holePars[i]"></app-small-screen-hole-score>
    </div>
    <mat-divider></mat-divider>
    <div class="hole-score-row">
      <div class="lo-170-left">Round vs par</div>
      <div class="lo-40-centered">
        <app-golf-score [score]="result.roundToPar"></app-golf-score>
      </div>
      <div class="lo-40-centered">
        <app-golf-score [score]="result.leader.roundToPar"></app-golf-score>
      </div>
    </div>
    <div class="hole-score-row">
      <div class="lo-170-left">Tournament vs par</div>
      <div class="lo-40-centered">
        <app-golf-score [score]="result.parThroughRound"></app-golf-score>
      </div>
      <div class="lo-40-centered">
        <app-golf-score [score]="result.leader.parThroughRound"></app-golf-score>
      </div>
    </div>
  </div>
</div>
